@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(images);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('fonts/MaterialIcons-Regular.woff') format('woff');

}
